main 
article {
    line-height: 2;
    width: 50%;
}

main 
article
hr {
    border: none;
    background-color: rgba(255, 0, 0, 0.295);
    height: 1px; 
    margin-bottom: 2rem;
}

main 
article 
h2 {
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.5;
    margin: 2rem 0;
}

main 
article 
h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1rem 0;
    text-align: center;
}

main 
article
p:first-of-type {
    text-indent: 2rem;
}

main 
article
p {
    margin-top: 1rem;
}