main
.filters-container {
    display: flex;
    justify-content: space-between;
    height: 30rem;
    background-color: #219ebc;
}

main 
.filters-container
.filters-main-section {
    position: relative;
    padding: 2rem;
    width: 100%;
    height: 100%;
}

main 
.filters-container
.filters-main-section
h2 {
    padding: 1.5rem 0;
    color: #ffffff;
}

main 
.filters-container
.filters-main-section
.dropdown-lists-container {
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
}

main 
.filters-container
.filters-main-section
.dropdown-lists-container
.btn
.fa-solid {
    margin-left: auto;
}

main 
.filters-container
.filters-main-section
.dropdown-lists-container
.btn
.dropdown-list {
    width: 100%;
    background: gray;
    max-height: 10rem;
    overflow: hidden auto;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 200%;
    left: 0;
    background-color: #ffffff;
    border-radius: 1rem;
    animation: showBars 0.2s forwards;
}

main 
.filters-container
.filters-main-section
.dropdown-lists-container
.btn
.dropdown-list
.dropdown-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    transition: all 0.2s ease;
}

main 
.filters-container
.filters-main-section
.dropdown-lists-container
.btn
.dropdown-list
.dropdown-content:hover {
    width: 100%;
    background-color: #dadada;
    border-radius: 1rem;
}

main 
.filters-container
.filters-main-section
#reset-btn {
    cursor: pointer;
    position: absolute;
    border: none;
    height: 2rem;
    width: 10rem;
    bottom: 8%;
    left: 15%;
    background-color: #ffffff;
    transform: translateX(-50%);
    border-radius: 3rem;
    font-size: 1rem;
    transition: all 0.2s ease;
}

main 
.filters-container
.filters-main-section
#reset-btn:hover {
    background-color: #dadada;
}

main 
.filters-container
.filters-main-section
#result-btn {
    display: block;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    height: 4rem;
    border-radius: 3rem;
    font-size: 1.2rem;
}

main 
.filters-container
.filters-main-section
#result-btn:hover {
    background-color: #dadada;
}

main
.ads-container {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    width: 100%;
    min-height: 30rem;
}

main
.ads-container.active-flex {
    display: flex;
    gap: 1rem;
}

main
.ads-container
.car-card {
    border: 1px solid black;
    height: 25rem;
    min-width: 20rem;
    padding: 1rem;
    transition: all 0.2s ease;
    box-shadow: 0px 0px 2px black;
    border-radius: 1rem;
    animation: showCarCards 1s forwards;
}

main 
.ads-container
.car-card:hover {
    box-shadow: 0px 0px 10px black;
    background-color: #219dbc11;
}

main
.ads-container
.car-card
.card-image {
    width: 20rem;
    max-height: 15rem;
}

main
#scroll-top-btn {
    display: none;
    position: fixed;
    bottom: 5rem;
    right: 2.5rem;
    z-index: 10;
    font-size: 3.5rem;
    color: #219dbc71;
    cursor: pointer;
    border-radius: 2px;
    transition: all 0.5s ease;
}

main
#scroll-top-btn:hover {
    color: #219ebc;
}

main
#scroll-top-btn.active {
    display: block;
}

@keyframes showBars {
    from {
        opacity: 0;
        transform: translateY(-20%);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes showCarCards {
    from {
        opacity: 0;
        transform: translateY(20%);
    }

    to {
        opacity: 1;
        transform: none;
    }
}