* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
#reset-btn, 
#result-btn {
    font-family: 'Anek Malayalam', sans-serif;
}

ul {
    list-style-type: none;
}

.hidden {
    display: none;
}

.shown {
    display: block;
}

.btn {
    position: relative;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 2rem;
    background-color: #f0f0f0;
    border-radius: 1rem;
    cursor: pointer;
    user-select: none;
    border: none;
}

.btn-alert-message {
    position: absolute;
    top: -80%;
    left: 10%;
    font-size: 0.8rem;
}

.background-grey {
    background-color: #b3b3b3;
    cursor: auto;
}

.color-aqua {
    color: #219ebc;
}