* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Anek Malayalam', sans-serif;
}

ul {
    list-style-type: none;
}

.hidden {
    display: none;
}

.shown {
    display: flex;
}

.btn {
    position: relative;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 2rem;
    background-color: #f0f0f0;
    border-radius: 1rem;
    cursor: pointer;
    user-select: none;
}

.color-aqua {
    color: #219ebc;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    width: 100%;
    height: 5rem;
    background-color: #edf2f4;
}

.header
#main-logo {
    color: black;
    font-size: 3rem;
}

.header
h1
#registered-mark {
    font-size: 1rem;
    vertical-align: super;
}

.header
#registration-btn {
    justify-content: center;
    width: 10rem;
    background-color: #219ebc;
    color: white;
    font-size: 1.2rem;
}

main
.filters-container {
    display: flex;
    justify-content: space-between;
    height: 20rem;
    background-color: #219ebc;
}

main 
.filters-container
.filters-main-section{
    padding: 2rem;
}

main 
.filters-container
.filters-main-section
h2 {
    padding: 1.5rem 0;
    color: #f0f0f0;
}

main 
.filters-container
.filters-main-section
.dropdown-lists-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

main 
.filters-container
.filters-main-section
.dropdown-lists-container
li
.dropdown-content {
    position: absolute;
    bottom: 0;
}

main 
.filters-container
.filters-main-section
.dropdown-lists-container
.btn {
    gap: 7rem;
}

main 
.filters-container
.filters-main-section
.dropdown-lists-container
.btn
.dropdown-content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 110%;
    top: 0;
    gap: 1rem;
}

main 
.filters-container
.filters-main-section
.dropdown-lists-container
.btn
.dropdown-content
li {
    justify-content: center;
    align-items: center;
    height: 2rem;
    background-color: #f0f0f0;
    text-align: center;
    border-radius: 1rem;
    width: 5rem;
}

main 
.filters-container
.filters-main-section
.dropdown-lists-container
.btn
.dropdown-content
li:hover {
    background-color: #dadada;
}

main
.filters-container
.dropdown-image {
    height: 100%;
    width: 50%;
}