* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
#reset-btn, 
#result-btn {
    font-family: 'Anek Malayalam', sans-serif;
}

ul {
    list-style-type: none;
}

.hidden {
    display: none;
}

.active {
    display: block;
}

.btn {
    padding: 0 1rem;
    position: relative;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 2rem;
    background-color: #ffffff;
    border-radius: 1rem;
    cursor: pointer;
    user-select: none;
    border: none;
    transition: all 0.2s ease;
}

.pointer-events-none {
    pointer-events: none;
}

.btn-alert-message {
    position: absolute;
    top: -80%;
    left: 10%;
    font-size: 0.8rem;
}

.background-grey {
    background-color: #b3b3b3;
}

.color-aqua {
    color: #219ebc;
}

.background-light-grey {
    background-color: #dadada;
}