main {
    padding: 7rem 2rem 3rem;
    background-color: #f0f0f0;
}

main
h1 {
    margin: 2rem 0;
    font-size: 2.5rem;
    font-weight: 600;
}

main
h2 {
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 600;
}

main 
.cars-in-stock-container {
    display: flex;
    gap: 1rem;
}

main 
.cars-in-stock-container
.model-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: max-content;
    height: 20rem;
    position: relative;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    transition: all 0.1s ease-in;
}

main 
.cars-in-stock-container
.model-info:hover {
    transform: scale(102%);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

main 
.cars-in-stock-container
.model-info
.availability-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.9rem;
}

main 
.cars-in-stock-container
.model-info
img {
    width: 100%;
}

main 
.cars-in-stock-container
.model-info
li
a {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}