main 
article {
    line-height: 2;
    width: 50%;
}

main 
article 
h2 {
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.5;
    margin: 2rem 0;
}

main 
article
p {
    margin-top: 2rem;
    text-indent: 2rem;
}

main 
article
img {
    width: 100%;
    margin-top: 2.5rem;
}

main 
article
blockquote {
    padding: 2rem 3rem 0;
    font-style: italic;
}

main 
article
blockquote
i {
    margin: 0 1rem;
    color: rgb(80, 79, 79);
}