main 
.article-display-flex {
    display: flex;
    justify-content: center;
}

main
.article-display-flex
article {
    width: 50%
}

main 
.article-display-flex
article
p {
    margin: 1rem;
    text-indent: 2rem;
    line-height: 1.5;
}

main 
.article-display-flex
article
p:first-of-type {
    margin-top: 1rem;
}

main
.article-display-flex
article
p
a {
    color: red;
}

main
.article-display-flex
article
p
a:hover {
    color: black;
}