@import url(styles/reset.css);
@import url(styles/header.css);
@import url(styles/main.css);
@import url(styles/footer.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0;
}

.font-weight-bold {
    font-weight: bold;
}

.background-color-red {
    color: white;
    display: inline-block;
    padding: 0 1rem;
    background-color: red;
}

.circle {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.527);
}

.background-white {
    background-color: #fff;
}

.background-blue {
    background-color: #005f73;
}

.background-red {
    background-color: #ae2012;
}

.background-grey {
    background-color: #e5e5e5;
}

.background-darkgrey {
    background-color: #343a40;
}

.background-black {
    background-color: black;
}

.background-dark-green {
    background-color: rgb(0, 75, 0);
}

.cars-in-stock-link-container { 
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.cars-in-stock-link-container 
a {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: black;
    border-radius: 5px;
    transition: background-color 0.3s ease-in;
}

.cars-in-stock-link-container 
a:hover {
    background-color: rgb(201, 201, 201);
}

#button-page-up {   
    display: block;
    opacity: 0;
    visibility: hidden;   
    font-size: 4rem;  
    position: fixed;   
    bottom: 3rem;   
    right: 2.5rem;     
    z-index: 20; 
    transition: all 0.3s ease;
} 

#button-page-up.show {
    opacity: 0.6;
    visibility: visible;
}

#button-page-up.show:hover {
    opacity: 1;
    cursor: pointer;
}